*{
    
    /* text-align: center; */
}

@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500;600;800&family=Poppins:wght@300&family=Roboto:wght@100;400&display=swap');

.heading{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    
}
.row{
    margin: 0;
    text-align: center;
}
.input {
    padding: 10px 64px;
    border: 1px solid black;
    border-radius: 3px;
    border-width: 1px;
}


.btn button {
    padding: 22px;
    cursor: pointer;
    margin: 10px 5px;
    border: 1px solid black;
    border-radius: 5px;
    width: 63px;
}